body{
    margin: 0;
    padding: 0;
}
header{
    background-color:#0455ac; 
    padding: 5rem;
}
.logo-div{
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    bottom: 85%;
    background-color: #0455ac;
    padding-bottom: 2%;
}
form{
    width: 30%;
    margin: 0 auto;
    padding-bottom: 2rem;
}
fieldset{
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
.button{
    display: flex;
    justify-content: center;
}
.text-center{
    text-align: center;
}
.descripcion{
    max-width: 40%;
    margin: 0 auto;
}
.alert-sizing{
    max-width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.image-container{
    padding-top: 8rem ;
    display: flex;
    justify-content: center;
} 
/* .seller{
    margin-top: 10%;
    z-index: 100;
} */
.seller{
    margin: 0 auto;
}
.img-seller{
    width: 300px;
}

.maps-container{
    display: flex;
    justify-content: center;
}
.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.div-contact{
    max-width: 50%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.telefono{
    text-align: center;
}
.email{
    text-align: center;
}
.btn{
    width: 50%;
    padding: 5px;
}

.img-container{
    display: flex;
    justify-content: center;
}
.img-services{
    max-width: 60%;
    margin: 0 auto;
}
.Whatsapp-link{
    display: flex;
    position: fixed;
    right: 110px;
    top: 40rem;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 10px;
    border-radius: 20px;
    border: 2px solid green;
    cursor: pointer;
}
.whatsapp-image{
    display: inline;
    color: green;
}
.justify-text{
    text-align: justify;
}
.padding-bottom{
    padding-bottom: 5rem;
}
@media only screen and (max-width:900px){
    form{
        width: 70%;
        margin: 0 auto;
        padding-bottom: 2rem;
    }
    fieldset{
        text-align: center;
    }
    .Whatsapp-link{
        display: flex;
        position: fixed;
        right: 40px;
        top: 40rem;
    }
    .form-cellphone{
        display: flex;
        justify-content: center;
    }
    .div-contact{
        max-width: 50%;
        margin: 0 auto;
        padding-bottom: 2rem;
    }
    .descripcion{
        max-width: 80%;
        margin: 0 auto;
        text-align: justify;
        padding-bottom: 2rem;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .img-container{
        display: flex;
        justify-content: center;
    }
    .img-services{
        max-width: 60%;
        margin: 0 auto;
    }
    .maps-container{
        display: flex;
        justify-content: center;
        max-width: 70%;
    }
    .maps-cellphone{
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width:600px){
    form{
        width: 70%;
        margin: 0 auto;
        padding-bottom: 2rem;
    }
    fieldset{
        text-align: center;
    }
    .Whatsapp-link{
        display: flex;
        position: fixed;
        right: 40px;
        top: 40rem;
    }
    .form-cellphone{
        display: flex;
        justify-content: center;
    }
    .div-contact{
        max-width: 50%;
        margin: 0 auto;
        padding-bottom: 2rem;
    }
    .descripcion{
        max-width: 80%;
        margin: 0 auto;
        text-align: justify;
        padding-bottom: 2rem;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .img-container{
        display: flex;
        justify-content: center;
    }
    .img-services{
        max-width: 60%;
        margin: 0 auto;
    }
    .maps-container{
        display: flex;
        justify-content: center;
        max-width: 70%;
    }
    .maps-cellphone{
        margin-left: auto;
        margin-right: auto;
    }
}